* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: rgb(33, 0, 77);
  background: linear-gradient(
    87deg,
    rgba(33, 0, 77, 0.7) 15%,
    rgba(247, 107, 7, 0.7) 100%
  );
}
canvas {
  width: 58vw !important;
  height: 58vh !important;
}

.page-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.graph-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 34px;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
