* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Quicksand", sans-serif;
}

i {
  color: #32dbc6;
}

span {
  color: #32dbc6;
}

.top-bar-container {
  height: 43px;
  width: 100%;
  background-color: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-bar-container .top-bar {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar-container .top-bar li {
  list-style-type: none;
  display: inline-block;
}

.top-bar-container .top-bar a {
  text-decoration: none;
  padding-right: 13px;
  color: white;
  font-weight: 600;
}

.top-bar-container .top-bar .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: white;
}

header .logo {
  font-weight: 500;
  font-size: 35px;
}

header .bottom-nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

header .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .bottom-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58%;
  height: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .bottom-nav .burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

header .bottom-nav .nav-links li {
  list-style-type: none;
  display: inline-block;
}

header .bottom-nav .nav-links a {
  text-decoration: none;
  margin: 20px;
  color: black;
}

header .bottom-nav .nav-links .rightMostLink {
  padding-right: 0px;
}

header .bottom-nav .nav-links .active {
  color: #32dbc6;
}

header .bottom-nav .nav-links a:hover {
  color: #32dbc6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.banner {
  height: 90vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("/create/images/hero_1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/create/images/hero_1.jpg");
  background-position: 50% 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-size: cover;
  background-attachment: fixed;
}

.banner .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner-text h1 {
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 10px;
}

.banner .banner-text h2 {
  font-weight: 200;
  font-size: 18px;
}

.banner .banner-text .button-container {
  margin-top: 50px;
}

.banner .banner-text .button-container button {
  border-radius: 50px;
  border: none;
  height: 50px;
  width: 150px;
  background-color: #32dbc6;
  font-weight: 100;
  letter-spacing: 2px;
  color: #212529;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: white;
  width: 50%;
}

.burger {
  display: none;
}

#close {
  display: none;
}

.resize-animation-stopper * {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    padding: 0px;
    width: 30%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
  }
  .nav-links a {
    font-size: 20px;
  }
  .nav-links li {
    margin-bottom: 35px;
    padding-left: 20px;
  }
  .topMostLink {
    margin-top: 100px;
  }
  .burger {
    display: block;
  }
  #close {
    position: absolute;
    color: black;
    right: 25px;
    top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    cursor: pointer;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.innovate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  height: 500px;
  width: 100%;
}

.innovate-container .inner-innovate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 70%;
}

.innovate-container .inner-innovate-container .innovate-box {
  height: 400px;
  width: 350px;
  margin: 10px;
  position: relative;
}

.innovate-container .inner-innovate-container .innovate-box h2 {
  color: #32dbc6;
  font-weight: 500;
  padding: 20px 20px 0px 20px;
}

.innovate-container .inner-innovate-container .innovate-box h3 {
  font-size: 16px;
  font-weight: 400;
  padding: 15px 20px 20px 20px;
  line-height: 1.7;
  color: #4d4d4d;
}

.innovate-container .inner-innovate-container .innovate-box .list {
  padding: 7px 23px 7px 20px;
}

.innovate-container .inner-innovate-container .innovate-box .checkmark {
  padding-right: 15px;
}

.innovate-container .inner-innovate-container .innovate-box .overlap {
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -40px;
  color: #f0f0f0;
  font-size: 110px;
}

.ourworks-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourworks-container .ourworks-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 37%;
}

.ourworks-container .ourworks-title h1 {
  font-weight: 500;
  font-size: 48px;
}

.ourworks-container .ourworks-title h2 {
  font-weight: 300;
  font-size: 20px;
}

.ourworks-grid-container {
  width: 100%;
}

.ourworks-grid {
  position: relative;
  margin-left: 15px;
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 32% 32%;
      grid-template-columns: 32% 32% 32%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1.5% 1.5%;
      grid-template-areas: "ourworks-img1 ourworks-img2 ourworks-img3" "ourworks-img4 ourworks-img5 ourworks-img6";
}

.ourworks-grid img {
  width: 100%;
  height: auto;
}

.ourworks-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: black;
}

.ourworks-box img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-text h1 {
  font-size: 26px;
  font-weight: 500;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.image-text h2 {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.ourworks-text-hover {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  /* position the text centrally*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.ourworks-box:hover .ourworks-text-hover {
  opacity: 1;
}

.ourworks-box:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.2;
}

.black-box-container {
  height: 600px;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.black-box-container .blackbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 1150px;
  background-color: black;
}

.black-box-container .blackbox .blackbox-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47%;
  height: 100%;
}

.black-box-container .blackbox .blackbox-left img {
  height: 450px;
  width: 450px;
}

.black-box-container .blackbox .blackbox-right {
  width: 53%;
  padding-left: 70px;
  padding-top: 65px;
}

.black-box-container .blackbox .blackbox-right h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 15px;
}

.black-box-container .blackbox .blackbox-right h2 {
  font-size: 16px;
  font-weight: 400;
  color: #737373;
  line-height: 25px;
  padding-bottom: 20px;
}

.black-box-container .blackbox .blackbox-right a {
  color: white;
  font-size: 18px;
}

.black-box-container .blackbox .blackbox-right .griditem {
  padding-right: 16px;
}

.black-box-container .blackbox .blackbox-right .blackbox-icon {
  padding-right: 10px;
  color: #fff;
}

.black-box-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 50px 1px;
      grid-template-areas: "strategy art-direction" "web-development copyright";
}

.testimonials-container {
  height: 500px;
  margin-bottom: 85px;
}

.testimonials-container h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 500;
}

.testimonials-container .flickity-page-dots {
  margin: 0px;
  padding: 0px;
}

.testimonials-container .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #dee2e6;
  margin: 3px;
}

.testimonials-container .flickity-page-dots .dot.is-selected {
  background: #32dbc6;
}

.testimonials-container .carousel {
  height: 65%;
}

.testimonials-container .carousel .carousel-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 300px;
  margin-right: 10px;
  border-radius: 5px;
}

.testimonials-container .carousel .carousel-cell .inner-cell {
  width: 40%;
}

.testimonials-container .carousel .carousel-cell .inner-cell h2 {
  font-style: italic;
  font-weight: 400;
  color: #737373;
  line-height: 35px;
}

.testimonials-container .carousel .carousel-cell .inner-cell .inner-cell-quote {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials-container .carousel .carousel-cell .inner-cell .inner-cell-quote h3 {
  font-size: 16px;
  font-weight: 400;
  color: #737373;
}

.testimonials-container .carousel .carousel-cell .inner-cell .inner-cell-quote img {
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
}

.our-services-container {
  width: 100%;
  height: 700px;
}

.our-services-container h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 500;
}

.our-services-container .our-services-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.our-services-container .our-services-grid-container .our-services-grid {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 35% 35%;
      grid-template-columns: 35% 35% 35%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 70px 5px;
      grid-template-areas: "web-design ecommerce web-applications" "branding copy-writing mobile-applications";
}

.our-services-container .our-services-grid-container .our-services-grid .our-services-inner-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1.5fr;
      grid-template-columns: 0.4fr 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 1px;
}

.our-services-container .our-services-grid-container .our-services-grid .our-services-grid-item {
  margin-right: 70px;
}

.our-services-container .our-services-grid-container .our-services-grid .our-services-grid-item h1 {
  font-size: 20px;
  color: #737373;
  font-weight: 500;
  text-align: left;
}

.our-services-container .our-services-grid-container .our-services-grid .our-services-grid-item h2 {
  font-size: 16px;
  color: #737373;
  font-weight: 400;
  line-height: 25px;
  margin-top: 10px;
}

.our-services-container .our-services-grid-container .our-services-grid .our-services-grid-item h3 {
  font-size: 16px;
  color: #32dbc6;
  font-weight: 400;
  margin-top: 20px;
}

.our-services-container .our-services-grid-container .our-services-grid .our-services-grid-item .our-services-icon {
  font-size: 50px;
}

.our-services-container .our-services-grid-container .our-services-grid .our-services-grid-item .our-services-icon-bigger {
  font-size: 75px;
}

.about-us-container {
  height: 800px;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.about-us-container .inner-about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  width: 60%;
  height: 100%;
}

.about-us-container .inner-about-us-container .about-us-left {
  width: 60%;
  margin-right: 80px;
}

.about-us-container .inner-about-us-container .about-us-left h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.about-us-container .inner-about-us-container .about-us-left h2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 33px;
  color: #737373;
}

.about-us-container .inner-about-us-container .about-us-left .about-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.about-us-container .inner-about-us-container .about-us-left .about-bottom-container h1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.about-us-container .inner-about-us-container .about-us-left .about-bottom-container h2 {
  font-size: 15px;
  font-weight: 400;
  margin-right: 80px;
  margin-bottom: 20px;
  color: #737373;
  line-height: 25px;
}

.about-us-container .inner-about-us-container .about-us-left .about-bottom-container h3 {
  color: #32dbc6;
  font-size: 16px;
  font-weight: 500;
}

.about-us-container .inner-about-us-container .about-us-left .about-bottom-container i {
  font-size: 50px;
  color: #6c757d;
  margin-bottom: 20px;
}

.about-us-container .inner-about-us-container .about-us-right {
  width: 40%;
}

.about-us-container .inner-about-us-container .about-us-right img {
  height: 450px;
  width: 450px;
  border-radius: 5px;
}

.our-team-container {
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-team-container h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  font-weight: 500;
}

.our-team-container .inner-our-team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
}

.our-team-container .inner-our-team-container .our-team-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
  margin-left: 18px;
}

.our-team-container .inner-our-team-container .our-team-people img {
  border-radius: 100%;
  height: 190px;
  width: 190px;
}

.our-team-container .inner-our-team-container .our-team-people h2 {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #737373;
  font-weight: 400;
  font-size: 18px;
}

.our-team-container .inner-our-team-container .our-team-people h3 {
  margin-bottom: 20px;
  color: #bfbfbf;
  font-weight: 400;
  font-size: 12px;
}

.our-team-container .inner-our-team-container .our-team-people a {
  line-height: 1.7;
  color: #7a7a7a;
}

.our-team-container .inner-our-team-container .our-team-people .our-people-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team-container .inner-our-team-container .our-team-people .our-people-icons .icon-our-people {
  color: #737373;
  font-size: 30px;
  margin-top: 20px;
  margin-right: 7px;
  margin-left: 7px;
}

.blog-container {
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e8e8e8;
}

.blog-container h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
  font-weight: 500;
  margin-top: 70px;
}

.blog-container .inner-blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
}

.blog-container .inner-blog-container .blog-section {
  margin: 10px 9px 0px 10px;
}

.blog-container .inner-blog-container .blog-section img {
  height: 350px;
  width: 350px;
}

.blog-container .inner-blog-container .blog-section h1 {
  color: #32dbc6;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0px 10px 0px;
  width: 90%;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.blog-container .inner-blog-container .blog-section h1:hover {
  color: #1bb3a0;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  cursor: pointer;
}

.blog-container .inner-blog-container .blog-section h2 {
  font-size: 16px;
  color: #bfbfbf;
  font-weight: 200;
  margin-bottom: 25px;
}

.blog-container .inner-blog-container .blog-section a {
  font-size: 15.5px;
  color: #7a7a7a;
  font-weight: 400;
  line-height: 25px;
}

.blog-container .inner-blog-container .blog-section h3 {
  color: #32dbc6;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.blog-container .inner-blog-container .blog-section h3:hover {
  color: #1bb3a0;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  cursor: pointer;
}

.blog-container .inner-blog-container .blog-section span {
  color: #32dbc6;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

.blog-container .inner-blog-container .blog-section span:hover {
  color: #1bb3a0;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */