* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

i {
  color: #32dbc6;
}

span {
  color: #32dbc6;
}

.top-bar-container {
  height: 43px;
  width: 100%;
  background-color: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-bar-container .top-bar {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar-container .top-bar li {
  list-style-type: none;
  display: inline-block;
}

.top-bar-container .top-bar a {
  text-decoration: none;
  padding-right: 13px;
  color: white;
  font-weight: 600;
}

.top-bar-container .top-bar .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: white;
}

header .logo {
  font-weight: 500;
  font-size: 35px;
}

header .bottom-nav-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

header .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .bottom-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58%;
  height: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .bottom-nav .burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

header .bottom-nav .nav-links li {
  list-style-type: none;
  display: inline-block;
}

header .bottom-nav .nav-links a {
  text-decoration: none;
  margin: 20px;
  color: black;
}

header .bottom-nav .nav-links .rightMostLink {
  padding-right: 0px;
}

header .bottom-nav .nav-links .active {
  color: #32dbc6;
}

header .bottom-nav .nav-links a:hover {
  color: #32dbc6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.banner {
  height: 90vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("/create/images/hero_1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/create/images/hero_1.jpg");
  background-position: 50% 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-size: cover;
  background-attachment: fixed;
}

.banner .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner-text h1 {
  font-weight: 400;
  font-size: 48px;
  padding-bottom: 10px;
}

.banner .banner-text h2 {
  font-weight: 200;
  font-size: 18px;
}

.banner .banner-text .button-container {
  margin-top: 50px;
}

.banner .banner-text .button-container button {
  border-radius: 50px;
  border: none;
  height: 50px;
  width: 150px;
  background-color: #32dbc6;
  font-weight: 400;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: white;
  width: 50%;
}

.burger {
  display: none;
}

#close {
  display: none;
}

.resize-animation-stopper * {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    padding: 0px;
    width: 30%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
  }
  .nav-links a {
    font-size: 20px;
  }
  .nav-links li {
    margin-bottom: 35px;
    padding-left: 20px;
  }
  .topMostLink {
    margin-top: 100px;
  }
  .burger {
    display: block;
  }
  #close {
    position: absolute;
    color: black;
    right: 25px;
    top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    cursor: pointer;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.innovate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  height: 55vh;
  width: 100%;
}

.innovate-container .inner-innovate-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
  width: 70%;
}

.innovate-container .inner-innovate-container .innovate-box {
  height: 400px;
  width: 350px;
  margin: 10px;
  position: relative;
}

.innovate-container .inner-innovate-container .innovate-box h2 {
  color: #32dbc6;
  font-weight: 500;
  padding: 20px 20px 0px 20px;
}

.innovate-container .inner-innovate-container .innovate-box h3 {
  font-size: 16px;
  font-weight: 400;
  padding: 15px 20px 20px 20px;
  line-height: 1.7;
  color: #4d4d4d;
}

.innovate-container .inner-innovate-container .innovate-box .list {
  padding: 7px 23px 7px 20px;
}

.innovate-container .inner-innovate-container .innovate-box .checkmark {
  padding-right: 15px;
}

.innovate-container .inner-innovate-container .innovate-box .overlap {
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -40px;
  color: #f0f0f0;
  font-size: 110px;
}

.ourworks-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourworks-container .ourworks-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 37%;
}

.ourworks-container .ourworks-title h1 {
  font-weight: 500;
  font-size: 48px;
}

.ourworks-container .ourworks-title h2 {
  font-weight: 300;
  font-size: 20px;
}

.ourworks-grid-container {
  width: 100%;
}

.ourworks-grid {
  position: relative;
  margin-left: 15px;
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% 32% 32%;
      grid-template-columns: 32% 32% 32%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 1.5% 1.5%;
      grid-template-areas: "ourworks-img1 ourworks-img2 ourworks-img3" "ourworks-img4 ourworks-img5 ourworks-img6";
}

.ourworks-grid img {
  width: 100%;
}

.ourworks-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  background-color: black;
}

.ourworks-box img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-text h1 {
  font-size: 26px;
  font-weight: 500;
}

.image-text h2 {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.ourworks-text-hover {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  /* position the text centrally*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.ourworks-box:hover .ourworks-text-hover {
  opacity: 1;
}

.ourworks-box:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.2;
}
/*# sourceMappingURL=style.css.map */